<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNlI2JNvbr7HO_GtHebccmgvN6Ih2bVR8</string>
	<key>GCM_SENDER_ID</key>
	<string>571537466684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.inan.dev.iMovies</string>
	<key>PROJECT_ID</key>
	<string>imovies-bd18f</string>
	<key>STORAGE_BUCKET</key>
	<string>imovies-bd18f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571537466684:ios:d54b5b80381f8907c1ea39</string>
</dict>
</plist>